---
layout: project
title: About Teiid
---

%h2 About Teiid
.well
  Teiid offers a relational abstraction of all information sources that is highly performant and allows for integration with your existing relational tools. Teiid has an accompanying easy-to-use
  %a{:href => "#{site.base_url}/tools.html"} design tool
  that enables data architects to integrate disparate information in minutes.&nbsp;
%p
  Teiid has a
  = succeed "of" do
    %a{:href => "#{site.base_url}/about/history.html"} long history
  addressing the data access needs of any size enterprise environment.&nbsp; Have a look at
  = succeed "," do
    %a{:href => "#{site.base_url}/about/why.html"} Why Teiid?
  our
  = succeed "," do
    %a{:href => "#{site.base_url}/about/featurematrix.html"} feature matrix
  and
  %a{:href => "#{site.base_url}/about/faq.html"} FAQ
  to see if this project is a good fit for your needs.
%p
  Best of all, Teiid is
  %a{:href => "#{site.base_url}/about/license.html"} open source
  and a part of the
  %a{:href => "http://jboss.org"} JBoss Community
  of projects.
.clear
  %br/
%h3 Teiid Components
%ul
  %li
    %a{:href => "#{site.base_url}/docs.html"} Teiid Query Engine
  %li
    %a{:href => "#{site.base_url}/tools/designer.html"} Teiid Designer
  %li
    %a{:href => "#{site.base_url}/basics/virtualdatabases.html"} Virtual Databases
  %li
    %a{:href => "#{site.base_url}/basics/connectors.html"} Connector Framework
  %li
    %a{:href => "#{site.base_url}/tools/adminshell.html"} Admin Shell
  %li
    %a{:href => "#{site.base_url}/tools/console.html"} Teiid Web Console
  %li
    %a{:href => "https://community.jboss.org/wiki/NewTeiidRHQPluginForTeiid8x"} Teiid RHQ Plugin
  %li
    %a{:href => "https://issues.jboss.org/browse/TEIIDDSHB"} Teiid Dashboard Builder
.clear
  %br/
%p You can even start with Teiid Basics section to learn about Virtual Databases (VDBs), models, connector bindings, and more.
%p So, why wait, let's go..
.clear
  %br/
%h3 Teiid Basics
.proj_basics
  %ul.icons-ul
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/basics/virtualdatabases.html"} Virtual Databases
      \- Learn about how Teiid encapsulates your data access as a database.
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/basics/models.html"} Models
      \- Learn about how Teiid represents metadata.
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/basics/connectors.html"} Connectors
      \- Learn about how Teiid connects to enterprise information systems.
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/basics/dataservices.html"} Data Services
      \- Learn about how Teiid exposes data service.
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/basics/soa.html"} SOAs
      \- Learn about Teiid's role in an SOA world.
.clear
  %br/
%h3 Future
%p
  The future of Teiid is rooted in the support of its open source community.&nbsp; Our customers, developers, and other participants will drive Teiid to meet their goals through open collaboration.&nbsp; If you would like to participate in this dynamic process, please see our
  = succeed ".&amp;nbsp;" do
    %a{:href => "#{site.base_url}/community.html"} community page
  All participation is welcomed and encouraged.
%p
  For a development perspective on releases, please see our
  = succeed ".&amp;nbsp;" do
    %a{:href => "#{site.base_url}/roadmap.html"} roadmap page