---
layout: rightcol
title: The Basics
---

%h2 The Basics
%br/
%h3 Information Integration with Teiid
#proj_basics
  %ul.icons-ul
    %li
      %i.icon-li.icon-play-sign
      %a{href: "#{site.base_url}/basics/virtualdatabases"} Virtual Databases
      \- Learn about how Teiid encapsulates your data access as a database.
    %li
      %i.icon-li.icon-play-sign
      %a{href: "#{site.base_url}/basics/models"} Models
      \- Learn about how Teiid represents metadata.
    %li
      %i.icon-li.icon-play-sign
      %a{href: "#{site.base_url}/basics/connectors"} Connectors
      \- Learn about how Teiid connects to enterprise information systems.
    %li
      %i.icon-li.icon-play-sign
      %a{href: "#{site.base_url}/basics/dataservices"} Data Services
      \- Learn about how Teiid exposes data service.
    %li
      %i.icon-li.icon-play-sign
      %a{href: "#{site.base_url}/basics/soa"} SOAs
      \- Learn about Teiid's role in an SOA world.