---
layout: rightcol
title: Community
---

%h2 Community
.clear
  %br/
.well
  %p
    The Teiid project has a vast array of community resources for both users and
    %a{:href => "#{site.base_url}/sourcecode.html"} developers
    We are always looking for more community support.&nbsp; You can sign up at
    %a{:href => "http://jboss.org"} jboss.org
    today and contribute
    = succeed "," do
      %a{:href => "https://jira.jboss.org/jira/browse/TEIID"} a feature request, a bug report
    or even a
    %a{:href => "https://www.jboss.org/community/docs/DOC-12956"} wiki article
%p &nbsp;
%h3 More resources:
.proj_basics
  %ul.icons-ul
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/mailinglists.html"} Mailing Lists
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/chat.html"} IRC
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "#{site.base_url}/sourcecode.html"} Source Code
    %li
      %i.icon-li.icon-play-sign
      %a{:href => "http://teiid.blogspot.com/"} Blogs