---
layout: rightcol
title: Documentation
---

%h2 Documentation
.clear
  %br/
.well
  %p
    Teiid documentation provides introductory material, manuals, and guides covering nearly every aspect of the project.  This documentation should be used in conjunction with the
    %a{href: "http://www.jboss.com/products/platforms/dataservices"} product documentation
    and the
    %a{href: "#{site.base_url}/community.html"} community resources
    to answer any question you might have.
  %p The 7.x series of releases have the PDF documentation included in the distribution downloads.
  %p The 8.x series of releases no longer have the PDF documentation included in the distribution downloads.  Please log a JIRA if still desirable to have a PDF distributed.
.clear
  %br/
%h2 WIKI
%p
  Many of "How To" documents are posted on
  %a{href: "https://www.jboss.org/community/docs/DOC-12956"} Teiid WIKI
  page. Please check out "
  %strong> Teiid Documents
  " section.
%h3 8.x Release
%form
  %table.table.table-bordered.table-striped{align: "left", border: "0", cellpadding: "4", cellspacing: "1"}
    %thead
      %tr.header
        %th Document
        %th HTML
    %tbody
      %tr.oddRow
        %td{width: "50%"} Reference Guide
        %td{style: "text-align: left;", width: "15%"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "https://docs.jboss.org/author/display/teiid86final/Reference+Guide"} 8.6
            %option{value: "https://docs.jboss.org/author/display/teiid85final/Reference+Guide"} 8.5
            %option{value: "https://docs.jboss.org/author/display/teiid84final/Reference+Guide"} 8.4
            %option{value: "https://docs.jboss.org/author/display/teiid830final/Reference+Guide"} 8.3
            %option{value: "https://docs.jboss.org/author/display/teiid82final/Reference+Guide"} 8.2
            %option{value: "https://docs.jboss.org/author/display/teiid81final/Reference+Guide"} 8.1
            %option{value: "https://docs.jboss.org/author/display/teiid80final/Reference+Guide"} 8.0
      %tr.evenRow
        %td Developer's Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "https://docs.jboss.org/author/display/teiid86final/Developer%27s+Guide"} 8.6
            %option{value: "https://docs.jboss.org/author/display/teiid85final/Developer%27s+Guide"} 8.5
            %option{value: "https://docs.jboss.org/author/display/teiid84final/Developer%27s+Guide"} 8.4
            %option{value: "https://docs.jboss.org/author/display/teiid830final/Developer%27s+Guide"} 8.3
            %option{value: "https://docs.jboss.org/author/display/teiid82final/Developer%27s+Guide"} 8.2
            %option{value: "https://docs.jboss.org/author/display/teiid81final/Developer%27s+Guide"} 8.1
            %option{value: "https://docs.jboss.org/author/display/teiid80final/Developer%27s+Guide"} 8.0
      %tr.oddRow
        %td Client Developer's Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "https://docs.jboss.org/author/display/teiid86final/Client+Developer%27s+Guide"} 8.6
            %option{value: "https://docs.jboss.org/author/display/teiid85final/Client+Developer%27s+Guide"} 8.5
            %option{value: "https://docs.jboss.org/author/display/teiid84final/Client+Developer%27s+Guide"} 8.4
            %option{value: "https://docs.jboss.org/author/display/teiid830final/Client+Developer%27s+Guide"} 8.3
            %option{value: "https://docs.jboss.org/author/display/teiid82final/Client+Developer%27s+Guide"} 8.2
            %option{value: "https://docs.jboss.org/author/display/teiid81final/Client+Developer%27s+Guide"} 8.1
            %option{value: "https://docs.jboss.org/author/display/teiid80final/Client+Developer%27s+Guide"} 8.0
      %tr.evenRow
        %td Admin Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "https://docs.jboss.org/author/display/teiid86final/Administrator%27s+Guide"} 8.6
            %option{value: "https://docs.jboss.org/author/display/teiid85final/Administrator%27s+Guide"} 8.5
            %option{value: "https://docs.jboss.org/author/display/teiid84final/Administrator%27s+Guide"} 8.4
            %option{value: "https://docs.jboss.org/author/display/teiid830final/Administrator%27s+Guide"} 8.3
            %option{value: "https://docs.jboss.org/author/display/teiid82final/Administrator%27s+Guide"} 8.2
            %option{value: "https://docs.jboss.org/author/display/teiid81final/Administrator%27s+Guide"} 8.1
            %option{value: "https://docs.jboss.org/author/display/teiid80final/Administrator%27s+Guide"} 8.0
      %tr.oddRow
        %td Caching Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "https://docs.jboss.org/author/display/teiid86final/Caching+Guide"} 8.6
            %option{value: "https://docs.jboss.org/author/display/teiid85final/Caching+Guide"} 8.5
            %option{value: "https://docs.jboss.org/author/display/teiid84final/Caching+Guide"} 8.4
            %option{value: "https://docs.jboss.org/author/display/teiid830final/Caching+Guide"} 8.3
            %option{value: "https://docs.jboss.org/author/display/teiid82final/Caching+Guide"} 8.2
            %option{value: "https://docs.jboss.org/author/display/teiid81final/Caching+Guide"} 8.1
            %option{value: "https://docs.jboss.org/author/display/teiid80final/Caching+Guide"} 8.0
      %tr.evenRow
        %td Quick Start
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "https://docs.jboss.org/author/display/teiidexamples"} 8.5+
            %option{value: "https://github.com/teiid/teiid-quickstarts/tree/8.4.x"} 8.4
            %option{value: "https://docs.jboss.org/author/display/teiid830final/Quick+Start+Guide"} 8.3
            %option{value: "https://docs.jboss.org/author/display/teiid82final/Quick+Start+Example"} 8.2
            %option{value: "https://docs.jboss.org/author/display/teiid81final/Quick+Start+Example"} 8.1
            %option{value: "https://docs.jboss.org/author/display/teiid80final/Quick+Start+Example"} 8.0
      %tr.oddRow
        %td Security Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "https://docs.jboss.org/author/display/teiid86final/Security+Guide"} 8.6
            %option{value: "https://docs.jboss.org/author/display/teiid85final/Security+Guide"} 8.5
            %option{value: "https://docs.jboss.org/author/display/teiid84final/Security+Guide"} 8.4
      %tr.evenRow
        %td API Docs
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/8.6.0.Final/apidocs"} 8.6
            %option{value: "http://docs.jboss.org/teiid/8.5.0.Final/apidocs"} 8.5
            %option{value: "http://docs.jboss.org/teiid/8.4.0.Final/apidocs"} 8.4
            %option{value: "http://docs.jboss.org/teiid/8.3.0.Final/apidocs"} 8.3
            %option{value: "http://docs.jboss.org/teiid/8.2.0.Final/apidocs"} 8.2
            %option{value: "http://docs.jboss.org/teiid/8.1.0.Final/apidocs"} 8.1
            %option{value: "http://docs.jboss.org/teiid/8.0.0.Final/apidocs"} 8.0
%h3 7.x Release
%form
  %table.table.table-bordered.table-striped{align: "left", border: "0", cellpadding: "4", cellspacing: "1", style: "width: 100%"}
    %caption
      %br/
    %thead
      %tr.header
        %th Document
        %th HTML
        %th
          %p HTML(Single Page)
        %th PDF
    %tbody
      %tr.oddRow
        %td{width: "50%"} Reference Guide
        %td{style: "text-align: left;", width: "15%"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/reference/en-US/html"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/reference/en-US/html"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/reference/en-US/html"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/reference/en-US/html"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/reference/en-US/html"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/reference/en-US/html"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/reference/en-US/html"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/reference/en-US/html"} 7.0
        %td{style: "text-align: left;", width: "20%"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/reference/en-US/html_single"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/reference/en-US/html_single"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/reference/en-US/html_single"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/reference/en-US/html_single"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/reference/en-US/html_single"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/reference/en-US/html_single"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/reference/en-US/html_single"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/reference/en-US/html_single"} 7.0
        %td{style: "text-align: left;", width: "15%"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/reference/en-US/pdf/teiid_reference.pdf"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/reference/en-US/pdf/teiid_reference.pdf"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/reference/en-US/pdf/teiid_reference.pdf"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/reference/en-US/pdf/teiid_reference.pdf"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/reference/en-US/pdf/teiid_reference.pdf"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/reference/en-US/pdf/teiid_reference.pdf"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/reference/en-US/pdf/teiid_reference.pdf"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/reference/en-US/pdf/teiid_reference.pdf"} 7.0
      %tr.evenRow
        %td Developer's Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/developer-guide/en-US/html"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/developer-guide/en-US/html"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/developer-guide/en-US/html"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/developer-guide/en-US/html"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/developer-guide/en-US/html"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/developer-guide/en-US/html"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/developer-guide/en-US/html"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/developer-guide/en-US/html"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/developer-guide/en-US/html_single"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/developer-guide/en-US/html_single"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/developer-guide/en-US/html_single"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/developer-guide/en-US/html_single"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/developer-guide/en-US/html_single"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/developer-guide/en-US/html_single"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/developer-guide/en-US/html_single"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/developer-guide/en-US/html_single"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/developer-guide/en-US/pdf/teiid_developer_guide.pdf"} 7.0
      %tr.oddRow
        %td Client Developer's Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/client-developers-guide/en-US/html"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/client-developers-guide/en-US/html"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/client-developers-guide/en-US/html"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/client-developers-guide/en-US/html"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/client-developers-guide/en-US/html"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/client-developers-guide/en-US/html"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/client-developers-guide/en-US/html"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/client-developers-guide/en-US/html"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/client-developers-guide/en-US/html_single"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/client-developers-guide/en-US/html_single"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/client-developers-guide/en-US/html_single"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/client-developers-guide/en-US/html_single"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/client-developers-guide/en-US/html_single"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/client-developers-guide/en-US/html_single"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/client-developers-guide/en-US/html_single"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/client-developers-guide/en-US/html_single"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/client-developers-guide/en-US/pdf/teiid_client_developers_guide.pdf"} 7.0
      %tr.evenRow
        %td Admin Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/admin-guide/en-US/html"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/admin-guide/en-US/html"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/admin-guide/en-US/html"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/admin-guide/en-US/html"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/admin-guide/en-US/html"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/admin-guide/en-US/html"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/admin-guide/en-US/html"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/admin-guide/en-US/html"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/admin-guide/en-US/html_single"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/admin-guide/en-US/html_single"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/admin-guide/en-US/html_single"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/admin-guide/en-US/html_single"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/admin-guide/en-US/html_single"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/admin-guide/en-US/html_single"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/admin-guide/en-US/html_single"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/admin-guide/en-US/html_single"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 7.0
      %tr.oddRow
        %td Caching Guide
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/caching-guide/en-US/html"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/caching-guide/en-US/html"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/caching-guide/en-US/html"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/caching-guide/en-US/html"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/caching-guide/en-US/html"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/caching-guide/en-US/html"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/caching-guide/en-US/html"} 7.1
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/caching-guide/en-US/html_single"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/caching-guide/en-US/html_single"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/caching-guide/en-US/html_single"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/caching-guide/en-US/html_single"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/caching-guide/en-US/html_single"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/caching-guide/en-US/html_single"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/caching-guide/en-US/html_single"} 7.1
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/caching-guide/en-US/pdf/teiid_caching_guide.pdf"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/caching-guide/en-US/pdf/teiid_caching_guide.pdf"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/caching-guide/en-US/pdf/teiid_caching_guide.pdf"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/caching-guide/en-US/pdf/teiid_caching_guide.pdf"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/caching-guide/en-US/pdf/teiid_caching_guide.pdf"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/caching-guide/en-US/pdf/teiid_caching_guide.pdf"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/caching-guide/en-US/pdf/teiid_caching_guide.pdf"} 7.1
      %tr.evenRow
        %td Quick Start
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/quick-start-example/en-US/html"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/quick-start-example/en-US/html"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/quick-start-example/en-US/html"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/quick-start-example/en-US/html"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/quick-start-example/en-US/html"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/quick-start-example/en-US/html"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/quick-start-example/en-US/html"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/quick-start-example/en-US/html"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/quick-start-example/en-US/html_single"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/quick-start-example/en-US/html_single"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/quick-start-example/en-US/html_single"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/quick-start-example/en-US/html_single"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/quick-start-example/en-US/html_single"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/quick-start-example/en-US/html_single"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/quick-start-example/en-US/html_single"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/quick-start-example/en-US/html_single"} 7.0
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/quick-start-example/en-US/pdf/teiid_quick_start_example.pdf"} 7.0
      %tr.oddRow
        %td API Docs
        %td{style: "text-align: left;"}
          %select{onchange: "var idx=this.selectedIndex;this.selectedIndex=0;window.location.href=this.options[idx].value", style: "width: 10em"}
            %option{value: ""} Version
            %option{value: "http://docs.jboss.org/teiid/7.7.0.Final/apidocs"} 7.7
            %option{value: "http://docs.jboss.org/teiid/7.6.0.Final/apidocs"} 7.6
            %option{value: "http://docs.jboss.org/teiid/7.5.0.Final/apidocs"} 7.5
            %option{value: "http://docs.jboss.org/teiid/7.4.0.Final/apidocs"} 7.4
            %option{value: "http://docs.jboss.org/teiid/7.3.0.Final/apidocs"} 7.3
            %option{value: "http://docs.jboss.org/teiid/7.2.0.Final/apidocs"} 7.2
            %option{value: "http://docs.jboss.org/teiid/7.1.0.Final/apidocs"} 7.1
            %option{value: "http://docs.jboss.org/teiid/7.0.0/apidocs"} 7.0
        %td  
        %td  
%p  
%h3 6.x Release
%table.table.table-bordered.table-striped{align: "left", border: "0", cellpadding: "4", cellspacing: "1", width: "100%"}
  %caption
    %br{type: "_moz"}/
  %thead
    %tr.header
      %th Document
      %th HTML
      %th PDF
  %tbody
    %tr.oddRow
      %td Reference Guide
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/reference/en-US/html"}> 6.2
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/reference/en-US/html"} 6.1
        %a{href: "http://docs.jboss.org/teiid/6.0/reference/en-US/html"} 6.0
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/reference/en-US/pdf/teiid_reference.pdf"}> 6.2
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/reference/en-US/pdf/teiid_reference.pdf"} 6.1
        %a{href: "http://docs.jboss.org/teiid/6.0/reference/en-US/pdf/teiid_reference.pdf"} 6.0
    %tr.evenRow
      %td Connector Developer's Guide
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/connector-developer-guide/en-US/html"}> 6.2
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/connector-developer-guide/en-US/html"} 6.1*
        %a{href: "http://docs.jboss.org/teiid/6.0/connector-developer-guide/en-US/html"} 6.0*
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/connector-developer-guide/en-US/pdf/connector_developer_guide.pdf"}> 6.2
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/connector-developer-guide/en-US/pdf/connector_developer_guide.pdf"} 6.1*
        %a{href: "http://docs.jboss.org/teiid/6.0/connector-developer-guide/en-US/pdf/connector_developer_guide.pdf"} 6.0*
    %tr.oddRow
      %td Server Extensions Guide
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/server-extensions-guide/en-US/html"}> 6.2*
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/server-extensions-guide/en-US/html"} 6.1*
        %a{href: "http://docs.jboss.org/teiid/6.0/server-extensions-guide/en-US/html"} 6.0*
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/server-extensions-guide/en-US/pdf/membership_domain_guide.pdf"}> 6.2*
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.0/server-extensions-guide/en-US/pdf/membership_domain_guide.pdf"} 6.1*
        %a{href: "http://docs.jboss.org/teiid/6.0/server-extensions-guide/en-US/pdf/membership_domain_guide.pdf"} 6.0*
    %tr.evenRow
      %td Admin Shell Guide
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/admin-guide/en-US/html"}> 6.2
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/admin-guide/en-US/html"} 6.1
        %a{href: "http://docs.jboss.org/teiid/6.0/admin-guide/en-US/html"} 6.0
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/admin-guide/en-US/pdf/teiid_admin_guide.pdf"}> 6.2
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 6.1
        %a{href: "http://docs.jboss.org/teiid/6.0/admin-guide/en-US/pdf/teiid_admin_guide.pdf"} 6.0
    %tr.oddRow
      %td API Docs
      %td
        %a{href: "http://docs.jboss.org/teiid/6.2/apidocs"}> 6.2
        ,
        = succeed "," do
          %a{href: "http://docs.jboss.org/teiid/6.1/apidocs"} 6.1
        %a{href: "http://docs.jboss.org/teiid/6.0/apidocs"} 6.0
      %td  
%p  *not up-to-date, see API Docs and the Teiid source for more on custom development.
.clear
  %br/
%h3 5.5 Release
%table.table.table-bordered.table-striped{align: "left", border: "0", cellpadding: "4", cellspacing: "1", width: "100%"}
  %caption
    %br{type: "_moz"}/
  %thead
    %tr.header
      %th Document
      %th Released Date
      %th Links
  %tbody
    %tr.oddRow
      %td Reference Guide
      %td 10/24/08 - 5.5 SP3
      %td
        %a{href: "http://docs.jboss.org/teiid/5.5/reference/MetaMatrixQuerySupportHandbook.pdf"} PDF
