---
layout: rightcol
title: Translators and Resource Adaptors
---

%h2 Translators and Resource Adaptors
.clear
  %br/
%h3 Translators
.section
  %p A Translator provides an abstraction layer between Teiid Query Engine and physical data source, that knows how to convert Teiid issued query commands into source specific commands and execute them using the Resource Adaptor. It also have smarts to convert the result data that came from the physical source into a form that Teiid Query engine is expecting.
  %p Teiid provides various pre-built translators for sources like Oracle, DB2, SQL Server, MySQL, PostgreSQL, XML, File etc.
  %p A Translator also defines the capabilities of a perticular source, like whether it can natively support query joins (inner joins, cross joins etc) or support criteria.
  %p
    A Transaltor along with its Resource Adaptor is always must be configured on a
    = succeed "." do
      %strong Source Model
    Cross-source queries issued against a VDB running in Teiid result in source queries being issued to translator, which interact with the physical data sources.
  %p A Translator is defined by using one of the default pre-built ones, or you can override the default properties of the pre-built ones to define your own. The tooling will provide mechanisms to define override translators.
%p Check out &quot;Developer's Guide&quot; on how to create a custom Translator that works with your Resource Adaptor.
.clear
  %br/
%h3 Resouce Adaptors
%p
  A Resouce Adaptor provides the connectivity to the physical data source. This also provides way to natively issue commands to the source and gather results. A Resource Adaptor can be a RDBMS data source, Web Service, text file, connection to main frame or to a custom source you defined. This is often is
  = succeed "&amp;nbsp;Connector," do
    %a{:href => "http://java.sun.com/j2ee/connector/"} JCA
  however there is no restriction how somebody provides the connection semantics to the Translator.
%p However, if your source needs participate in distributed XA transactions, then this must be a JCA connector. Other than providing transactions, JCA defines how to do configuration, packaging and deployment. This also provides a standard interaction model with the Container, connection pools etc.&nbsp; It can be used for more than just Teiid data integration purposes.
%p A instance of resouce adaptor is created by defining a &quot;-ds.xml&quot; file in the JBoss AS. This is same operation that is used to create Data Sources in JBoss AS.
%p Check out the &quot;Developer's Guide&quot; on how to create a custom Resource Adaptor.
.clear
  %br/
%h3 Translator Capabilities
.section
  %p translator capabilities define what processing each translator/source combination can perform.  For example, most relational sources can process joins and unions, whereas when processing delimited text files these operations cannot be performed by the resource adaptor or the &quot;source&quot; (in this case, the file system).
  %p Capabilities are used by the Teiid query engine to determine what subsets of the overall federated query plan can be pushed down to each source involved in the query.
  %p Translator capabilities define the capabilities of a source in terms of language features (joins, criteria, functions, unions, sorts, etc). In addition, the source model defined in a virtual database may specify additional constraints at the metadata level, such as whether a column can be used in an exact match or wildcard string match, whether tables and columns can be updated, etc. In combination, these features can be used to more narrowly constrain how users access a source.
.clear
  %br/
%h3 Resource Adaptors and Security
.section
  %p It is possible to use the security system of individual data sources if this is desired. When the resource adapter is JCA&nbsp;connector, they can be configured with separate &quot;security-domain&quot; in their &quot;-ds.xml&quot; files in the JBoss AS. However, calling thread need to login into the context before they use Teiid.
.clear
  %br/
%h3 Administering
.section
  %p
    In
    = succeed "," do
      %span.product Teiid
    Translators and Resource adaptors can be configured and monitored using the Teiid Console, or using the
    = succeed "." do
      %a{:href => "#{site.base_url}/docs.html"} Teiid Server Administrative API