.navbar.navbar-inverse#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Overview ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="#{site.base_url}/about") About Teiid
              %li<
                %a(href="#{site.base_url}/basics") The Basics
              %li<
                %a(href="#{site.base_url}/quickstart") Quick Start
              %li<
                %a(href="#{site.base_url}/roadmap.html") Roadmap
              %li<
                %a(href="#{site.base_url}/tools.html") Tools
          %li{:class=>"#{'active' if page.output_path.start_with?('/downloads') }" }<
            %a(href="#{site.base_url}/downloads.html") Downloads
          %li{:class=>"#{'active' if page.output_path.start_with?('/docs') }" }<
            %a(href="#{site.base_url}/docs.html") Docs
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Community ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="https://www.jboss.org/community/docs/DOC-12956") Wiki
              %li<
                %a(href="https://community.jboss.org/en/teiid") User Forum
              %li<
                %a(href="https://community.jboss.org/en/teiid/dev") Developer Forum
              %li<
                %a(href="#{site.base_url}/mailinglists.html") Mailing Lists
              %li<
                %a(href="#{site.base_url}/chat.html") Chat
              %li<
                %a(href="http://teiid.blogspot.com/") Blog
          %li{:class=>"#{'active' if page.output_path.start_with?('/issues') }" }<
            %a(href="https://jira.jboss.org/jira/browse/TEIID") Issues
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Source Code ' do
                %b.caret>
            %ul.dropdown-menu
              %li<
                %a(href="https://github.com/teiid/teiid") GitHub
              %li<
                %a(href="http://fisheye.jboss.org/browse/Teiid") FishEye
              %li<
                %a(href="http://viewvc.jboss.org/cgi-bin/viewvc.cgi/teiid/") ViewVC
          %li{:class=>"#{'active' if page.output_path.start_with?('/build') }" }<
            %a(href="http://hudson.jboss.org/hudson/job/Teiid%20-%20Continuous%20Build/") Build
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")<
              = precede 'Follow Us ' do
                %b.caret>
            %ul.dropdown-menu.projectsocialmedia
              %li<
                %a(href="https://twitter.com/#!/teiid")<
                  %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
              / %li<
              /   %a(href="#")<
              /     %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")
              / %li<
              /   %a(href="#")<
              /     %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_facebook.png")
              / %li<
              /   %a(href="#")<
              /     %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_youtube.png")
              / %li<
              /   %a(href="#")<
              /     %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_linkedin.png")
          %li.divider

        %ul.nav.pull-right
          %li
            %form.navbar-search
              %input.search-query#projectsearch(type="text" placeholder="Search")

= breadcrumb(page.real_page.output_path)
