%table
  %tbody
    %tr
      %td
        %a{href: "http://www.jboss.com/products/platforms/dataservices/"}
          %img{alt: "Looking for a fully supported, certified Data Services Platform?", height: "75", src: "#{site.project_images_url}/projectimage_projecttoproduct_dsp.png", style: "margin:0 auto;", width: "244"}/

%br

%a{:href => "http://www.jboss.org/teiiddesigner"}
  %img{src: "#{site.project_images_url}/TeiidDesignerLogo_180x60.png"}

%br

.well
  %dl
    %dt tei·id  (TEE-id)
    %br/
    %dd
      %b adj.
         
      %em pertaining to a family of tropical American whip-tailed lizards noted for speed and agility.
    %dd
      %b n.
         
      %em a set of open source enterprise information integration tools noted for their ability to rapidly create data services that can quickly adapt to changes in your IT environment.
    %dd
      %dl

.span4
  %section
    %h4 Blog Posts
    #blogDiv
    :javascript
      $(document).ready(function () {
        $('#blogDiv').FeedEk({
          FeedUrl: 'http://teiid.blogspot.com/feeds/posts/default',
          MaxCount: 4,
          ShowDesc: false,
          CharacterLimit: 200
        });
      });

.div
  %h2 Useful links
  %ul.nav.nav-list
    %li
      %a{:href => "#{site.base_url}/about.html"}
        %i.icon-fixed-width.icon-book
        About Teiid
    %li
      %a{:href => "#{site.base_url}/basics.html"}
        %i.icon-fixed-width.icon-edit
        The Basics
    %li
      %a{:href => "#{site.base_url}/quickstart.html"}
        %i.icon-fixed-width.icon-dashboard
        Quick Start
    %li
      %a{:href => "#{site.base_url}/tools.html"}
        %i.icon-fixed-width.icon-cogs
        Tools
    %li
      %a{:href => "#{site.base_url}/downloads.html"}
        %i.icon-fixed-width.icon-download
        Downloads
    %li
      %a{:href => "#{site.base_url}/sourcecode.html"}
        %i.icon-fixed-width.icon-sitemap
        Source Code
    %li
      %a{:href => "#{site.base_url}/roadmap.html"}
        %i.icon-fixed-width.icon-road
        Roadmap
%br

%div{style: "float: left; padding-right: 20px; padding-bottom: 20px; "}
  %a{href: "http://www.redhat.com/promo/integrated_enterprise/control/?sc_cid=701600000006UkyAAE "}
    %img{alt: "Control your business in real-time with automated decision making", height: "250", src: "#{site.project_images_url}/JB_Integration_Week_developers1_banner_250x250_10108197_1012_dc.png", style: "margin:0 auto;", width: "250"}/

%br

.well
  #badges
    %ul
      %li.license-lgpl
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0"}
          %em Apache License, Version 2.0
      %li.jopr
        %a{:href => "http://www.jboss.org/jopr"} Managed by RHQ
      %li.arquillian
    %div{:style => "clear: both; height:1px;"}

%div#coolstuff
  %p{:style => "margin-top: 2px; margin-bottom: 15px; margin-right: 10px; text-align: right;"}
    %a{:href => "http://www.jboss.org/coolstuff/desktopwallpapers/teiid.html"}> Desktop Wallpaper
    &nbsp;|&nbsp;
    %a{:href => "http://www.cafepress.com/jbossorg/7028353"} Project Swag
  %a{:href => "http://www.jboss.org/coolstuff/desktopwallpapers/project"}
    %img{:alt => "Cool Stuff", :height => "110", :src => "#{site.project_images_url}/project_coolstuff_teiid.png", :style => "margin:0 auto;", :width => "225"}/

%div
  %a{:href => "http://www.jboss.org/security.html"}/
  .projectpage-sprite.projectpage-sprite-securityimage

%div
  %a{:href => "http://www.jboss.org/security.html"}
    %img{:alt => "Find a security issue with a JBoss Project or Product? Report it now", :height => "110", :src => "http://static.jboss.org/common/images/securityissue.png"}/
